<%- include("partials/header") %>

<h2>Login</h2>

<form method="POST" action="/login">
  <input name="identifier" placeholder="ID or Email" required />
  <button type="submit">Login</button>
</form>

<%- include("partials/footer") %>
